<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>Raw Material</h1>
        <% for(i = 0; i < count; i++) { %>
           Material Id : <%= result[i].materialID  %><br>
           Material Name : <%= result[i].materialName  %><br>
           Quantity : <%= result[i].quantity  %><br>
           NumberOfProducts : <%= result[i].numberOfProducts  %><br>
           Product Name : <%= result[i].productName  %><br>
           Company Name : <%= result[i].companyName  %><br>
           Purchase Date : <script>
            
                    var myDate = new Date(<%= result[i].purchaseDate  %> * 1000 );
                    document.write(myDate.toGMTString()+"<br>"+myDate.toLocaleString());
                </script>
            <br>
           Expiary Date : <script>
            
                var myDate = new Date(<%= result[i].expirayDate  %> * 1000 );
                document.write(myDate.toGMTString()+"<br>"+myDate.toLocaleString());
            </script>
            <br>
            <% } %>
        </center>
</body>
</html>