<!DOCTYPE html>
<html>

<head>
    <title>Seller Profile</title>
</head>

<body>
    <center>
        <h1>Seller Profile</h1>
    <table>
        <tr>
            <td>Company Name :</td>
            <td><%= myData._sellerName %></td>
        </tr>
        <tr>
            <td>Email :</td>
            <td><%= myData._email %></td>
        </tr>
        <tr>
            <td>Phone :</td>
            <td><%= myData._phone %></td>
        </tr>
        <tr>
            <td>Comapany Address :</td>
            <td><%= myData._sellerAddress %></td>
        </tr>
        
        <tr>
            <td>State :</td>
            <td><%= myData._state %></td>
        </tr>
        <tr>
            <td>Place :</td>
            <td><%= myData._place %></td>
        </tr>
        <tr>
            <td>PinCode :</td>
            <td><%= myData._pincode %></td>
        </tr>
        <tr>
            <td>Licence Number :</td>
            <td><%= myData._licenceNo %></td>
        </tr>
    </table>
</center>
</body>

</html>

